/* Navigation Bar */
.navbar {
    padding: 1rem;
    /* background-color: #f5f5f4; */
    background-color: #1c1917;
    text-color: white
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
    color: white
}

/* General styles */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2.2rem;
    font-family: 'Rubik Dirt', cursive;
    color: #a7f3d0;
}
.section-dark {
    color: #ecfdf5;
    background-color: #171717;
}
.section-light {
    color: #000000;
    background-color: #fafaf9;
}
.title-section {
    font-size: 1.8rem;
    padding: 10px 0;
    font-family: 'Rubik Dirt', cursive;
}
.decription-section {
    font-size: 1.2rem;
    color: #0a0a0a;
}
.section-text {
    font-size: 1.2rem;
    padding: 6px;
}
.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: 400;
    background-color: #a7f3d0;
}
.text-light {
    color: #000000;
}
.text-dark {
    color: #ffffff;
}

/* Hero Section */
.hero {
    background-color: #292524;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-image-developer{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1.8rem;
    color: #e7e5e4;
}

/* About Me Section */
.about-me {
    height: 400px;
    padding: 5px;
}

.about-me .container01 {
    max-width: 600px;
    text-align: center;
}

/* Experience Section */
.experience {
    padding: 40px 40px 60px 40px;
}
/* .experience .row div {
    height: 250px;
    background-color: #3f3f46;
    border: 1px solid #71717a;
    border-radius: 10px;
} */
.title-experience {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-container {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.badge {
    margin: 5px;
}
.experience i {
    font-size: 1.8rem;
    color: #e7e5e4;
    background-color: #171717;
    padding: 3px 16px;
    border-radius: 50%;
}
.experience .column-ex {
    padding: 20px;
    border: 1px solid #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}
.experience .column-ex:hover {
    color: white;
    background-color: #1b1b32;
}
.column-ex .section-text {
    font-size: 18px;
}

/* Projects Section */
.recent-projects {
    padding: 40px;
    text-align: center;
}
.recent-projects img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}
.projects-container {
    padding-top: 60px;
    margin-bottom: 40px;
}
.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.project {
    position: relative;
}
.project:hover img {
    opacity: 0.3;
}
.project:hover .overlay {
    opacity: 1;
}
.overlay .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay i {
    color:  #a5f3fc;
    font-size: 50px;
    margin: 10px;
}

/* Articles Section */
.articles {
    min-height: 500px;
    padding: 30px;
}
.articles .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
    text-align: center;
}
.articles .card {
    background-color: #292524;
    color: #ffffff;
}
.articles .card-header {
    font-weight: bold;
    /* background-color: #171717;
    color: white; */
}
.list-group-item {
    background-color: #d6d3d1;
    color: #171717;    
}
.card a:hover {
    background-color: #c4b5fd;
    color: #8b5cf6;
}

/* Testimony Section */
.testimony {
    padding: 40px 40px 80px 40px;
}
.testimony .carousel {
    max-width: 800px;
}
.carousel-item {
    height: 500px;
}
.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimony-img {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}
.testimony-text {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}
.testimony-info {
    font-weight: bold;
    text-align: center;
}
.testimony-info p{
    margin-bottom: 0;
}
.testimony-footer .client {
    font-size: 1.2rem;
}
.testimony-info .position {
    font-size: 0.9rem;
    color: #555050;
}

/* Contact Me Section */
.contact .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}
.contact .rectangle {
    margin-top: 1rem;
    background-color: #172554;
    /* background-color: #B08780; */
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}
.contact .row {
    width: 100%;
    display: flex;
    align-items: center;
}
.contact .description {
    color: #a7f3d0;
    font-size: 1.2rem;
}
.contact button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.contact button:hover {
    background-color: #ddd6fe;
    color: #0c0a09;
}
.contact button i {
    color: #15803d;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}
.contact button:hover i {
    color: black;
}

/* Footer Section */
footer {
    min-height: 500px;
}
.footer-logo {
    height: 80px;
    margin: 10px;
}
.footer-text {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}
.icons-social-networks a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 1px solid #ccfbf1;
    border-radius:50%;
    transition: all 0.2s ease-in;
}
.icons-social-networks a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110,253);
}
.icons-social-networks i {
    color: #fde68a;
    font-size: 1.5rem;
    transition:  all 0.2s ease-in;
}
.icons-social-networks a:hover i {
    color: black;
}

/* Section Copyright */
.copy-right {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}


/* Adaptable (Responsive) */
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }
    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-img {
        max-width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .testimony-img {
        height: 120px;
        width: 120px;
    }
    .testimony-text {
        font-size: 18px;
    }
}